<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Society | Вход</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/custom.css}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
</head>
<body>

<header th:replace="/fragments/header.html"></header>

<main>

</main>

<footer th:insert="/fragments/footer.html"></footer>

<div th:replace="/fragments/footer-thanks.html"></div>

<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>

</body>
</html>